.modal {
    background-color: #fff; /* Modal background color */
    padding: 20px; /* Padding inside the modal */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  .modal p {
    margin: 0 !important; /* Reset default margin */
    padding: 10px 0 !important; /* Add some padding */
    font-size: 16px !important; /* Set font size */
    color: #333 !important; /* Text color */
    background: none !important;
    box-shadow: none !important;
  }
  .modal p:hover{
    margin: 0 !important; /* Reset default margin */
    padding: 10px 0 !important; /* Add some padding */
    font-size: 16px !important; /* Set font size */
    color: #333 !important; /* Text color */
  }
  
  .modal .modal-close_btn {
    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Flexbox for alignment */
    justify-content: flex-end; /* Align to the right */
  }
  
  .modal-overlay {
    position: fixed; /* Overlay on the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it is above other content */
  }
  
  .modal-close_btn {
    margin-bottom: 10px; /* Space below close button */
  }
  
  .modal .ant-select {
    margin-bottom: 20px; /* Space below select elements */
  }
  