
/* Main Home Screen Styles */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Merriweather', serif;
}

.home__display-area {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 1.5s ease-out 0.5s forwards; /* Delay to ensure it appears after the icon */
  position: relative;
}

.home__display-area p {
  font-size: 2rem;
  margin: 20px 0;
  padding: 10px 40px;
  cursor: pointer;
  color: #d4af37 ;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.home__display-area p:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
  color: #eb9500;
  transform: translateY(-5px);
}

.home__display-area p:nth-child(1) {
  animation-delay: 0.3s;
}
.home__display-area p:nth-child(2) {
  animation-delay: 0.6s;
}
.home__display-area p:nth-child(3) {
  animation-delay: 0.9s;
}

/* Animations */
@keyframes iconSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
