.home {
  display: flex;
}

.home__display-area {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden; 
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.home__display-area_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  position: relative;
}
.home__display-area_impo {
  height: 30rem;
  width: 30rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.home__display-area_startIcon {
  display: flex;
  justify-self: center;
  height: 10rem;
  width: 14rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 25rem;
  z-index: 2;
}

.home__display-area_startIcon:hover {
  height: 10em;
  width: 14rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px #6ce023;
}

.home__display-area_settingIcon,
.home__display-area_aboutIcon {
  display: flex;
  align-self: flex-start;
  height: 3rem;
  width: 3rem;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.home__display-area_settingIcon:hover,
.home__display-area_aboutIcon:hover {
  height: 3.1rem;
  width: 3.1rem;
  border-radius: 25px;
  box-shadow: 0 4px 15px #6ce023;
}

.hover-text-setting {
  display: none;
  position: absolute;
  top: 10%;
  left: 6.5%;
  transform: translate(-50%, -120%);
  font-size: 1rem;
  color: #fff;
  background-color: rgba(134, 202, 118, 0.7);
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hover-text-about {
  display: none;
  position: absolute;
  top: 10%;
  right: 2%;
  transform: translate(-50%, -120%);
  font-size: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.home__display-area_settingIcon:hover + .hover-text-setting,
.home__display-area_aboutIcon:hover + .hover-text-about {
  display: block;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__display-area_movingIcon1 , .home__display-area_movingIcon2, .home__display-area_movingIcon3, .home__display-area_movingIcon4{
  position: absolute;
  height: 3rem;
  width: 3rem;
  z-index: 1;
}
.home__display-area_movingIcon1{
  transform-origin: center 10rem; 
  animation: moveAround1 30s linear infinite;

}
.home__display-area_movingIcon2{
  transform-origin: center 20rem; 
  animation: moveAround2 33s linear infinite;

}
.home__display-area_movingIcon3{
  transform-origin: center 15rem;
  animation: moveAround3 42s linear infinite;
}

.home__display-area_movingIcon4{
  transform-origin:  5rem;
  animation: moveAround4 42s linear infinite;
}
@keyframes moveAround1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(20%, 15%) rotate(30deg);
  }
  40% {
    transform: translate(40%, 30%) rotate(-45deg);
  }
  60% {
    transform: translate(30%, 50%) rotate(90deg);
  }
  80% {
    transform: translate(15%, 30%) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes moveAround2 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(15%, -10%) rotate(30deg);
  }
  40% {
    transform: translate(-10%, 20%) rotate(-75deg);
  }
  60% {
    transform: translate(20%, -12%) rotate(60deg);
  }
  80% {
    transform: translate(-10%, 5%) rotate(-90deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes moveAround3 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(10%, -10%) rotate(45deg);
  }
  40% {
    transform: translate(15%, 10%) rotate(90deg);
  }
  60% {
    transform: translate(-15%, -10%) rotate(135deg);
  }
  80% {
    transform: translate(10%, 15%) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes moveAround4 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(20%, 10%) rotate(30deg);
  }
  40% {
    transform: translate(40%, -10%) rotate(90deg);
  }
  60% {
    transform: translate(30%, 20%) rotate(135deg);
  }
  80% {
    transform: translate(10%, -15%) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
