.navbar__menu {
  position: relative;
}

.navbar__menu-button {
  cursor: pointer;
  position: absolute;
  top: 90px;
  z-index: 2;
  background-color: #ffdd00;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(16, 16, 16, 0.5);
  transition: background-color 0.3s, transform 0.3s;
}

.navbar__menu-checkbox {
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.navbar__menu-option {
  position: absolute;
  background-color: #1e1e1e;
  border: 2px solid #ffdd00;
  color: #ffdd00;
  z-index: -1;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar__menu-option:hover .tooltip {
  opacity: 1; 
  transform: translateY(-10px); 
}

.tooltip {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-10%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  width:80px ;
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none; 
}


.navbar__option-a .tooltip {
  content: "Home";
}

.navbar__option-b .tooltip {
  content: "Scoreboard";
}

.navbar__option-c .tooltip {
  content: "End Game";
}


.navbar__menu-checkbox:hover ~ .navbar__menu-button,
.navbar__menu-checkbox:checked ~ .navbar__menu-button {
  background-color: #eccd00;
  scale: 0.98;
  box-shadow: none;
}

.navbar__menu-checkbox:not(:checked) ~ .navbar__menu-button::before {
  content: "+";
}

.navbar__menu-checkbox:checked ~ .navbar__menu-button::after {
  content: "-";
  scale: 0.98;
  box-shadow: none;
}

.navbar__menu-checkbox:not(:checked) ~ .navbar__menu-option {
  box-shadow: none;
}

.navbar__menu-option:hover,
.navbar__menu-option:active,
.navbar__menu-option:focus {
  box-shadow: 0 4px 15px #ceeb0e;

}

.navbar__menu-checkbox:checked ~ .navbar__option-a {
  transition-delay: 0.1s;
  transform: translateY(-70px) translateX(35px);
}

.navbar__menu-checkbox:checked ~ .navbar__option-b {
  transition-delay: 0.2s;
  transform: translateY(-30px) translateX(100px);
}

.navbar__menu-checkbox:checked ~ .navbar__option-c {
  transition-delay: 0.3s;
  transform: translateY(5px) translateX(35px);
}

.navbar__menu-option.active {
  z-index: 1;
}
